<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8" />

  </head>

  <body>

    <h1>User Test</h1>

    <div class="form">
      <form action="/register" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="password" placeholder="password" name="passwd"/>
        <button>register</button>
      </form>


      <br/><br/>

      <form action="/login" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="password" placeholder="password" name="passwd"/>
        <button>login</button>
      </form>

      <br/><br/>

      <form action="/checkuser" method="POST">
        <input type="text" placeholder="account" name="account" />
        <button>checkuser</button>
      </form>

      <br/><br/>

      <form action="/info" method="POST">
        <input type="text" placeholder="account" name="account" />
        <button>info</button>
      </form>

      <br/><br/>

      <form action="/setpasswd" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="text" placeholder="passwd" name="passwd" />
        <button>setpasswd</button>
      </form>

      <br/><br/>

      <form action="/setnickname" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="text" placeholder="nickname" name="nickname" />
        <button>setnickname</button>
      </form>

      <br/><br/>

      <form action="/setaddress" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="text" placeholder="address" name="address" />
        <button>setaddress</button>
      </form>

      <br/><br/>

      <form action="/setaveragerate" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="text" placeholder="averagerate" name="averagerate" />
        <button>setaveragerate</button>
      </form>

      <br/><br/>

      <form action="/deposit" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="text" placeholder="amount" name="amount" />
        <button>deposit</button>
      </form>

      <br/><br/>

      <form action="/pay" method="POST">
        <input type="text" placeholder="account1" name="account1" />
        <input type="text" placeholder="account2" name="account2" />
        <input type="text" placeholder="amount" name="amount" />
        <button>pay</button>
      </form>

      <br/><br/>

      <form action="/uploadicon" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="account" name="account" />
        <input type="file" name="iconfile" id="fileToUpload" onchange="fileSelected();"/>
        <button>uploadicon</button>
      </form>

      <br/><br/>

      <form action="/geticon" method="POST">
        <input type="text" placeholder="account" name="account" />
        <button>geticon</button>
      </form>

      <br/><br/>

      <form action="/setlatitude" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="text" placeholder="latitude" name="latitude" />
        <button>setlatitude</button>
      </form>

      <br/><br/>

      <form action="/setlongtitude" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="text" placeholder="longtitude" name="longtitude" />
        <button>setlongtitude</button>
      </form>

      <br/><br/>

      <form action="/setlaunchtasknum" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="text" placeholder="launchtasknum" name="launchtasknum" />
        <button>setlaunchtasknum</button>
      </form>

      <br/><br/>

      <form action="/settaketasknum" method="POST">
        <input type="text" placeholder="account" name="account" />
        <input type="text" placeholder="taketasknum" name="taketasknum" />
        <button>settaketasknum</button>
      </form>

      <br/><br/>

      <form action="/drop" method="POST">
        <button>drop</button>
      </form>

    </div>

  </body>
</html>
